[Unit]
Description=HAProxy Admin Gunicorn Daemon
After=network.target

[Service]
User=istadmin
Group=istadmin

WorkingDirectory=/opt/haproxy-admin
Environment="PATH=/opt/haproxy-admin/venv/bin"

# Using 4 workers, binding to all interfaces on port 8080
ExecStart=/opt/haproxy-admin/venv/bin/gunicorn --workers 4 --bind 0.0.0.0:8080 app:app

[Install]
WantedBy=multi-user.target
